<div class="card m-2 mx-auto" style="width: 80%">
  <div class="card-header">
    <h3>
      <%= link_to 'Taskwarrior List', tasks_path %> > Edit
    <h3>
  </div>

  <div class="card-body">
    <%= render 'form', task: @task %>
  </div>
</div>
